
.user {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 160px auto 50px;
	width: 50%;
	font-size: 40px;
}

.user table {
	border: 3px solid white;
}

.user td {
	border: 2px solid white;
	padding: 15px;
	text-align: center;
}


@media(max-width: 778px)  {
	.user {
		width: 95%;
		font-size: 25px;
	}	
}