.login {
	position: fixed;
	top: 0;
 	width: 100%;
 	height: 100vh;
 	z-index: 1000;
 	text-align: center;
 	z-index: 1000;
}


.reg {
	display: flex;
	flex-direction: column;
	margin: 100px auto;
	width: 60%;
 	background: white;
	border: 1px solid #d7d8db;
	border-radius: 5px;	
	padding: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}



.reg button {
	display: block;
	margin-top: 30px;
	background: #282e3a;
	color: white;
	font-size: 14px;	
	padding: 10px 40px;
	border-width: 0;
	border-radius: 20px;
	margin: 0 auto;
	outline: none;
}

.reg h2 {
	text-align: center;
}

/*
.reg button {
	border-radius: 5px;
	border: none;
	background: #4a76a8;
	color: white;
	font-weight: bold;
	height: 30px;
	outline: none;
}

.reg button:hover {
	opacity: 0.9;
}
*/


.error {
	position: absolute;
	color: red;
}




@media(max-width: 778px) {
	.reg {
		width: 90%;
	}
}