body {
	margin: 0;
  background: #282e3a; 
  color: #b8de55;
}

.content {
	display: block;
	min-height: 50vh;
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100px;
	background: #4db9e0; 
	color: white;
	font-weight: bold;
	font-size: 20px;
}